.button__back{
  background: var(--l-m-element);
  box-shadow: var(--l-m-shadow) 0 0 2px 1px;
  color: var(--l-m-text);
  border: none;
  height: 40px;
  width: 150px;
  border-radius: 5px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  img{
    height: 80%;
    object-fit: cover;
  }
}

.topper{
  display: flex;
  padding: 0 80px;
  align-items: center;
  width: 100vw;
  height: 100px;
  @media (max-width: 560px) {
    height: 80px;
    padding: 0 50px;
  }
}

.content{
  width: 100vw;
  min-height: 300px;
  display: flex;
  column-gap: 50px;
  flex-wrap: wrap;


  @media (max-width: 2000px) {
    padding: 0 80px;
  }

  @media (max-width: 560px) {
    padding: 0 50px;
  }


  img{
    object-fit: cover;
    width: 100%;
    max-width: 560px;
  }

  .rightSide{
    display: grid;
    padding: 50px 0;
    grid-template-rows: 50px 150px;
    grid-template-columns: auto auto;
    div{
      .item{
        margin: 13px 0;
      }
    }
  }
}

